header#treatment {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;

  nav {
    .links_container {
      background-color: #45777b;

      ul {
        li {
          a {
            color: var(--main-white-color);
            font-size: 18px;
            font-family: var(--quickstand-font);
            font-weight: var(--font-medium);

            position: relative;

            @media screen and (max-width: 992px) {
              font-size: 14px;
              letter-spacing: 0;
            }

            &::after {
              transition: all 0.3s ease;
              position: absolute;
              content: "";
              bottom: -16px;
              left: 50%;
              width: 68px;
              height: 4px;
              background-color: var(--sec-cyan-color);
              z-index: 12;
              transform: translateX(-50%);
              opacity: 0;
            }

            &:hover::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

article.overview {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #f4f9f8;
  @media screen and (max-width: 450px) {
    width: 100% !important;
  }

  .details_container {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 450px) {
      flex-direction: column;
    }

    .details {
      width: 700px;
      margin-right: 56px;
      overflow: hidden;

      @media screen and (max-width: 992px) {
        width: 100%;
        overflow: hidden;
      }

      .title {
        h3 {
          color: var(--main-dark-color);
          font-weight: var(--font-sem-bold);
          font-family: var(--quickstand-font);
          font-size: 34px;
          margin-bottom: 20px;

          @media screen and (max-width: 992px) {
            font-size: 24px;
            font-weight: bold;
          }
        }
      }

      img {
        margin-top: 16px;
        margin-bottom: 16px;
        object-fit: cover;

        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .desc {
        margin-top: 21px;
        margin-bottom: 17px;
        // p {
        //   color: var(--main-dark-color);
        //   font-weight: var(--font-regular);
        //   font-family: var(--open-sans-font);
        //   font-size: 16px;
        //   line-height: 1.9rem;
        //   letter-spacing: 0;

        //   @media screen and (max-width: 992px) {
        //     line-height: 1.4rem;
        //   }fi
        // }
      }
    }

    .quick_details {
      @media screen and (max-width: 450px) {
        width: 100% !important;
      }

      .title {
        h3 {
          color: var(--main-dark-color);
          font-weight: var(--font-sem-bold);
          font-family: var(--quickstand-font);
          font-size: 28px;
          @media screen and (max-width: 992px) {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }

      .details_container {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 992px) {
          grid-column-gap: inherit;
        }
        @media screen and (max-width: 992px) {
          margin-bottom: 38px;
        }
        .boxes_container {
          &:last-child {
            @media screen and (min-width: 992px) {
              width: 224px;
            }
          }
          .box {
            .title {
              h6 {
                color: var(--main-dark-color);
                font-size: 16px;
                font-weight: var(--font-regular);
                font-family: var(--quickstand-font);
              }
            }

            ul {
              padding: 0;
              li {
                position: relative;
                padding: 0;
                color: var(--main-dark-color);
                font-size: 18px;
                font-weight: var(--font-bold);
                font-family: var(--quickstand-font);
                margin-bottom: 24px;
                margin-left: 12px;
                line-height: 16px;

                @media screen and (max-width: 992px) {
                  font-size: 16px;
                  margin-bottom: 16px;
                }

                &::after {
                  content: "";
                  position: absolute;
                  // 40
                  top: 15%;
                  left: -11px;
                  width: 6px;
                  height: 6px;
                  background-color: black;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }

  .menu_container {
    @media screen and (min-width: 992px) {
      width: 700px;
    }

    img {
      max-width: 100%;
      object-fit: contain;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}

#before_after {
  padding-top: 48px;
  @media screen and (max-width: 992px) {
    padding-top: 38px;
  }
  .title {
    margin-bottom: 40px;
    h3 {
      font-size: 28px;
      font-weight: var(--font-sem-bold);
      font-family: var(--quickstand-font);

      @media screen and (max-width: 992px) {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
      }
    }
  }

  .menu_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .menu {
      width: 700px;
    }

    .btn_container {
      @media screen and (max-width: 992px) {
        display: none;
      }
      a {
        button {
          background-color: transparent;
          border: none;

          color: var(--sec-cyan-color);
          font-size: 18px;
          text-decoration: underline;
          font-weight: var(--font-medium);
          font-family: var(--quickstand-font);
          cursor: pointer;
        }
      }
    }
  }

  .slider_container {
    margin-top: 48px;
    position: relative;

    @media screen and (min-width: 992px) {
      &::after {
        position: absolute;
        content: "";
        width: 52px;
        height: 90%;
        background: transparent
          linear-gradient(
            89deg,
            rgba(244, 249, 248, 0) 0%,
            rgba(247, 250, 250, 0.2392156863) 47%,
            #ffffff 100%
          )
          0% 0% no-repeat padding-box;
        opacity: 1;
        top: 0;
        right: 0px;
      }
    }

    @media screen and (max-width: 992px) {
      margin-top: 38px;
    }

    .box {
      // margin: 5px 20px 5px 5px;

      @media screen and (max-width: 992px) {
        width: 100%;
      }
      @media screen and (min-width: 450px) {
        margin-right: 10px !important;
      }

      .imgs_container {
        width: 388px;
        height: 200px;
        display: flex;

        @media screen and (max-width: 992px) {
          width: 100%;
          height: 188px;
        }

        img {
          width: 194px;
          height: 100%;
          object-fit: cover;

          @media screen and (max-width: 992px) {
            width: 50%;
          }
        }
      }

      .box_title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 0px 0px 10px 10px;
        background-color: var(--light-green-color);
        width: 100%;
        h5 {
          color: var(--main-green-color);

          font-weight: var(--font-bold);
          font-family: var(--quickstand-font);
          font-size: 18px;

          @media screen and (max-width: 992px) {
            font-size: 16px;
          }
        }
      }
      .desc {
        margin-top: 8px;
        margin-left: 20px;

        p {
          font-size: 18px;
          font-weight: var(--font-medium);
          font-family: var(--quickstand-font);
          width: 300px;
          color: var(--main-green-color);
        }
      }
    }
  }
}

#steps {
  margin-top: 48px;
  padding-top: 48px;
  padding-bottom: 64px;
  background-color: #f4f9f8;

  @media screen and (max-width: 992px) {
    padding-top: 38px;
    padding-bottom: 30px;
  }

  .slider_container {
    margin-top: 42px;
    position: relative;

    .box {
      width: 230px;
      box-shadow: 0px 2px 10px #00000029;
      border-radius: 0px 0px 5px 5px;
      margin: 100px 0.87px 12px 0px;
      margin-right: auto;

      .box_title {
        background-color: var(--main-green-color);
        border-radius: 5px 5px 0px 0px;
        h6 {
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: 23px;
          font-size: 18px;
          font-weight: var(--font-bold);
          color: var(--main-white-color);
        }
      }

      .img_container {
        width: 230px;
        height: 281px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

#what_you_need {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    margin-right: 90px;
    margin-bottom: 24px;

    @media screen and (max-width: 992px) {
      margin-right: 0px;
      width: 100%;
    }

    h3 {
      color: var(--main-dark-color);
      font-size: 28px;
      font-weight: var(--font-sem-bold);
      font-family: var(--quickstand-font);
      text-align: left;
      @media screen and (max-width: 992px) {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .menu_container {
    width: 700px;

    @media screen and (max-width: 992px) {
      width: 100%;
    }

    .box {
      width: 230px;
      box-shadow: 0px 2px 10px #00000029;
      border-radius: 0px 0px 5px 5px;

      margin: 20px 14.13px 10px 0px;
      .box_title {
        background-color: var(--main-green-color);
        border-radius: 5px 5px 0px 0px;
        h6 {
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: 23px;
          font-size: 18px;
          font-weight: var(--font-bold);
          color: var(--main-white-color);
        }
      }

      .img_container {
        margin-top: 24px;
        margin-bottom: 24px;
        width: 100%;
        height: 233px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .content {
      img {
        width: 100%;
      }

      figure {
      }
    }
  }
}

#video {
  background-color: #f4f9f8;

  margin-top: 48px;
  padding-top: 48px;
  padding-bottom: 48px;
  @media screen and (max-width: 992px) {
    margin-top: 38px;
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .video_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 992px) {
    }

    .title {
      margin-bottom: 24px;
      width: 700px;

      @media screen and (max-width: 992px) {
        width: 100%;
      }

      h3 {
        color: var(--main-dark-color);
        font-size: 28px;
        font-weight: var(--font-sem-bold);
        font-family: var(--quickstand-font);

        @media screen and (max-width: 992px) {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .video_container {
      width: 700px;

      @media screen and (max-width: 992px) {
        width: 100%;
      }

      iframe {
        width: 100%;
        border-radius: 5px;
        @media screen and (max-width: 450px) {
          border-radius: 10px;
          height: 213px;
        }
      }
    }
  }
}

#howToGetTreatment {
  padding-top: 48px;
  padding-bottom: 48px;

  @media screen and (max-width: 992px) {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  .howToGetTreatment_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .sec_title {
      margin-bottom: 24px;
      @media screen and (max-width: 450px) {
        width: 100%;
      }
      h3 {
        margin-top: 0;
        margin-bottom: 0;
        color: var(--main-dark-color);
        font-size: 28px;
        font-weight: var(--font-sem-bold);
        font-family: var(--quickstand-font);

        @media screen and (max-width: 992px) {
          font-size: 18px;
          font-weight: bold;
          margin-left: 0px;
        }
      }
    }

    .menu_container {
      width: 700px;

      @media screen and (max-width: 992px) {
        width: 100%;
      }

      .box {
        width: 230px;
        box-shadow: 0px 2px 10px #00000029;
        border-radius: 0px 0px 5px 5px;

        margin: 20px 14.13px 10px 0px;
        .box_title {
          background-color: var(--main-green-color);
          border-radius: 5px 5px 0px 0px;
          h6 {
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 23px;
            font-size: 18px;
            font-weight: var(--font-bold);
            color: var(--main-white-color);
          }
        }

        .img_container {
          margin-top: 24px;
          margin-bottom: 24px;
          width: 100%;
          height: 233px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

#treatment_desc {
  padding-top: 48px;
  padding-bottom: 115px;
  background-color: #f4f9f8;

  @media screen and (max-width: 992px) {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  .box {
    width: 285.2px;
    height: 427.59px;

    background-color: var(--main-white-color);
    box-shadow: 0px 2px 10px #00000029;
    border-radius: 5px;
    padding: 25px 14px;
    margin-bottom: 10px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    @media screen and (max-width: 992px) {
      width: 427.59px;
      margin-right: 10px;
      height: 427.59px;
    }

    .title {
      margin-bottom: 8px;
      max-height: 20px;

      h6 {
        color: var(--main-dark-color);
        font-size: 18px;
        font-weight: var(--font-bold);
        font-family: var(--quickstand-font);
        letter-spacing: 0;
        line-height: 1.3rem;
      }
    }

    .img_container {
      width: 100%;
      height: 169.25px;

      margin-bottom: 16px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
      }
    }

    .list {
      flex-basis: 100%;
      overflow: hidden;
      overflow-y: scroll;
      padding-right: 8px;
      padding-left: 8px;
      p {
        color: var(--main-dark-color);
        margin-bottom: 20px;

        font-size: 16px;
        font-weight: var(--font-medium);
        letter-spacing: -1px;
        line-height: 1.3rem;
        font-family: var(--open-sans-font);

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 13;
        white-space: pre-wrap;
        -webkit-line-clamp: 13;
      }
    }
  }
}

section.price {
  position: relative;
  margin-top: 50px;
  margin-bottom: 250px;

  @media screen and (max-width: 992px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .section_container {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 23px;
    padding-bottom: 23px;
    width: 100%;
    background-color: var(--main-white-color);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px #00000029;

    @media screen and (max-width: 992px) {
      position: relative;
      width: 333px;
      margin-top: 45px;
      margin-bottom: 45px;
      top: 0;
      left: 0;
      transform: translateY(0);
      padding: 22px 21px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff;
    }

    @media screen and (min-width: 1200px) {
      width: 1209px;
    }

    .title {
      margin-bottom: 24px;
      h3 {
        color: var(--main-dark-color);
        font-size: 34px;
        font-weight: var(--font-bold);
        font-family: var(--quickstand-font);

        @media screen and (max-width: 992px) {
          font-size: 24px;
          text-align: center;
        }
      }
    }

    .btn_container {
      @media screen and (max-width: 992px) {
        width: 100%;
      }
      .qoute {
        margin-bottom: 25px;
        a {
          button {
            width: 307px;
            height: 56px;
            cursor: pointer;

            border-radius: 5px;
            border: 1px solid var(--main-green-color);
            background-color: var(--main-green-color);
            color: var(--main-white-color);

            font-size: 18px;
            font-family: var(--quickstand-font);
            font-weight: var(--font-bold);

            @media screen and (max-width: 992px) {
              width: 100%;
            }
          }
        }
      }

      .discover {
        text-align: center;

        a {
          color: var(--sec-cyan-color);
          text-decoration: underline;
          font-size: 18px;
          font-weight: var(--font-bold);
          font-family: var(--quickstand-font);
          @media screen and (max-width: 992px) {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

section.QA {
  margin-bottom: 40px;
  .title {
    margin-bottom: 24px;
    h3 {
      color: var(--main-dark-color);
      font-size: 34px;
      font-family: var(--quickstand-font);
      font-weight: var(--font-sem-bold);

      @media screen and (max-width: 992px) {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .menu_container {
    width: 699px;

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  .btn_container {
    margin-top: 40px;
    button {
      cursor: pointer;
      width: 204px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      color: var(--main-dark-color);
      border-radius: 5px;
      border: 2px solid var(--main-dark-color);
      transition: all 0.3s ease;

      font-size: 18px;
      font-weight: var(--font-bold);
      font-family: var(--quickstand-font);
      svg {
        margin-left: 10px;
      }

      @media screen and (max-width: 992px) {
        width: 100%;
      }

      &:hover {
        background-color: var(--main-green-color);
        color: var(--main-white-color);
        border-color: var(--main-green-color);
      }
    }
  }
}

// Section Groups
#treatment_desc,
#steps {
  .sec_title {
    h3 {
      font-family: var(--arabic-font);

      @media screen and (max-width: 992px) {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .slider_container {
    margin-top: 42px;

    position: relative;
    .steps_container {
      position: absolute;
      top: 0px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 32px;
      z-index: 2;

      @media screen and (max-width: 992px) {
        display: none;
      }

      .step {
        width: 72px;
        height: 72px;
        background-color: var(--main-green-color);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        span {
          color: var(--main-white-color);
          font-size: 30px;
          font-weight: var(--font-medium);
          font-family: var(--quickstand-font);
          position: relative;
        }
      }
    }
  }

  .box {
    margin-top: 100px;
    @media screen and (max-width: 992px) {
      margin-top: 0px !important;
    }
  }
}

// AR
article.overview[dir="rtl"] {
  font-family: var(--arabic-font);

  .details_container {
    .details {
      margin-right: 0px;
      margin-left: 56px;
    }

    .quick_details {
      .details_container {
        .boxes_container {
          margin-right: 0px !important;
          margin-left: 16px;

          .box {
            .title {
              h6 {
                font-family: var(--arabic-font);
              }
            }

            ul {
              li {
                margin-left: 0;
                margin-right: 12px;

                &::after {
                  top: 40%;
                  left: 105%;
                }
              }
            }
          }
        }
      }
    }
  }
}

#before_after[dir="rtl"] {
  font-family: var(--arabic-font);

  .title {
    margin-bottom: 40px;
    h3 {
      font-family: var(--arabic-font);
    }
  }

  .menu_container {
    .btn_container {
      a {
        button {
          font-family: var(--arabic-font);
        }
      }
    }
  }

  .slider_container {
    margin-top: 48px;
    position: relative;

    @media screen and (min-width: 992px) {
      &::after {
        position: absolute;
        content: "";
        width: 52px;
        height: 90%;
        background: transparent
          linear-gradient(
            89deg,
            rgba(244, 249, 248, 0) 0%,
            rgba(247, 250, 250, 0.2392156863) 47%,
            #ffffff 100%
          )
          0% 0% no-repeat padding-box;
        opacity: 1;
        top: 0;
        right: 0px;
      }
    }

    @media screen and (max-width: 992px) {
      margin-top: 38px;
    }

    .box {
      // margin: 5px 20px 5px 5px;

      @media screen and (max-width: 992px) {
        width: 100%;
      }
      @media screen and (min-width: 450px) {
        margin-right: 10px !important;
      }

      .imgs_container {
        width: 388px;
        height: 200px;
        display: flex;

        @media screen and (max-width: 992px) {
          width: 100%;
          height: 188px;
        }

        img {
          width: 194px;
          height: 100%;
          object-fit: cover;

          @media screen and (max-width: 992px) {
            width: 50%;
          }
        }
      }

      .box_title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 0px 0px 10px 10px;
        background-color: var(--light-green-color);
        width: 100%;
        h5 {
          color: var(--main-green-color);

          font-weight: var(--font-bold);
          font-family: var(--quickstand-font);
          font-size: 18px;

          @media screen and (max-width: 992px) {
            font-size: 16px;
          }
        }
      }
      .desc {
        margin-top: 8px;
        margin-left: 20px;

        p {
          font-size: 18px;
          font-weight: var(--font-medium);
          font-family: var(--quickstand-font);
          width: 300px;
          color: var(--main-green-color);
        }
      }
    }
  }
}

#steps[dir="rtl"] {
  font-family: var(--arabic-font);

  .slider_container {
    font-family: var(--arabic-font);

    .box {
      margin-right: 0px !important;
      margin-left: auto;
      .box_title {
        h6 {
          font-family: var(--arabic-font);
          padding-left: 0px;
          padding-right: 23px;
        }
      }
    }
  }
}

#howToGetTreatment[dir="rtl"] {
  .howToGetTreatment_container {
    .sec_title {
      h3 {
        font-family: var(--arabic-font);
      }
    }

    .menu_container {
      p {
        font-family: var(--arabic-font);
      }

      span {
        margin-right: 0px !important;
        margin-left: 16px;
      }
    }
  }
}

#treatment_desc[dir="rtl"] {
  padding-top: 48px;
  padding-bottom: 115px;
  background-color: #f4f9f8;
  font-family: var(--arabic-font);

  @media screen and (max-width: 992px) {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  .box {
    width: 285.2px;
    height: 427.59px;

    background-color: var(--main-white-color);
    box-shadow: 0px 2px 10px #00000029;
    border-radius: 5px;
    padding: 25px 14px;
    margin-bottom: 10px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    @media screen and (max-width: 992px) {
      width: 427.59px;
      margin-right: 10px;
      height: 427.59px;
    }

    .title {
      margin-bottom: 8px;
      max-height: 20px;

      h6 {
        color: var(--main-dark-color);
        font-size: 18px;
        font-weight: var(--font-bold);
        font-family: var(--arabic-font);
        letter-spacing: 0;
        line-height: 1.3rem;
      }
    }

    .img_container {
      width: 100%;
      height: 169.25px;

      margin-bottom: 16px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
      }
    }

    .list {
      flex-basis: 100%;
      overflow: hidden;
      overflow-y: scroll;
      padding-right: 8px;
      padding-left: 8px;
      p {
        color: var(--main-dark-color);
        margin-bottom: 20px;

        font-size: 16px;
        font-weight: var(--font-medium);
        letter-spacing: -1px;
        line-height: 1.3rem;
        font-family: var(--arabic-font);

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 13;
        white-space: pre-wrap;
        -webkit-line-clamp: 13;
      }
    }
  }
}

section.price[dir="rtl"] {
  position: relative;
  margin-top: 50px;
  font-family: var(--arabic-font);
  margin-bottom: 250px;

  @media screen and (max-width: 992px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .section_container {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 23px;
    padding-bottom: 23px;
    width: 100%;
    background-color: var(--main-white-color);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px #00000029;

    @media screen and (max-width: 992px) {
      position: relative;
      width: 333px;
      margin-top: 45px;
      margin-bottom: 45px;
      top: 0;
      left: 0;
      transform: translateY(0);
      padding: 22px 21px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff;
    }

    @media screen and (min-width: 1200px) {
      width: 1209px;
    }

    .title {
      margin-bottom: 24px;
      h3 {
        color: var(--main-dark-color);
        font-size: 34px;
        font-weight: var(--font-bold);
        font-family: var(--arabic-font);

        @media screen and (max-width: 992px) {
          font-size: 24px;
          text-align: center;
        }
      }
    }

    .btn_container {
      @media screen and (max-width: 992px) {
        width: 100%;
      }
      .qoute {
        margin-bottom: 25px;
        a {
          button {
            width: 307px;
            height: 56px;
            cursor: pointer;

            border-radius: 5px;
            border: 1px solid var(--main-green-color);
            background-color: var(--main-green-color);
            color: var(--main-white-color);

            font-size: 18px;
            font-family: var(--arabic-font);
            font-weight: var(--font-bold);

            @media screen and (max-width: 992px) {
              width: 100%;
            }
          }
        }
      }

      .discover {
        text-align: center;

        a {
          color: var(--sec-cyan-color);
          text-decoration: underline;
          font-size: 18px;
          font-weight: var(--font-bold);
          font-family: var(--arabic-font);
          @media screen and (max-width: 992px) {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

section.QA[dir="rtl"] {
  font-family: var(--arabic-font);

  margin-bottom: 40px;
  .title {
    margin-bottom: 24px;
    h3 {
      color: var(--main-dark-color);
      font-size: 34px;
      font-family: var(--arabic-font);
      font-weight: var(--font-sem-bold);

      @media screen and (max-width: 992px) {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .menu_container {
    width: 699px;

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  .btn_container {
    margin-top: 40px;
    button {
      cursor: pointer;
      width: 204px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      color: var(--main-dark-color);
      border-radius: 5px;
      border: 2px solid var(--main-dark-color);
      transition: all 0.3s ease;

      font-size: 18px;
      font-weight: var(--font-bold);
      font-family: var(--arabic-font);
      svg {
        margin-left: 10px;
      }

      @media screen and (max-width: 992px) {
        width: 100%;
      }

      &:hover {
        background-color: var(--main-green-color);
        color: var(--main-white-color);
        border-color: var(--main-green-color);
      }
    }
  }
}
