#login {
  background-color: var(--main-green-color);
  width: 100%;
  height: 100%;
  display: flex;
  @media screen and (max-width: 450px) {
    background-color: transparent;
  }

  .card_inner {
    margin: 35px auto;
    width: 500px;
    background-color: var(--main-white-color);
    padding: 29px;
    box-shadow: 0px 30px 30px #00000029;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 450px) {
      width: 100%;
    }
    .icon_container {
      align-self: flex-end;
      a {
        svg {
          width: 28px;
          height: 28px;
          color: var(--main-dark-color);
        }
      }
    }

    .header {
      margin-bottom: 30px;

      h1 {
        color: var(--main-dark-color);
        font-size: 28px;
        font-weight: var(--font-sem-bold);
      }

      p {
        color: var(--main-dark-color);
        font-size: 18px;
        font-family: var(--open-sans-font);
      }
    }

    form {
      .email,
      .password {
        display: flex;
        flex-direction: column;

        label {
          color: var(--main-dark-color);
          font-weight: var(--font-bold);
          font-family: var(--open-sans-font);
          font-size: 14px;
          margin-bottom: 8px;
        }

        input {
          margin-bottom: 20px;

          width: 100%;
          height: 45px;
          border-radius: 5px;
          border: 1px solid #a1a1a1;
          padding: 14px;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .links_container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 25px;

      .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        input {
          margin-right: 19px;
        }

        label {
          color: var(--main-green-color);
          font-size: 14px;
          font-family: var(--open-sans-font);
          font-weight: var(--font-sem-bold);
        }
      }

      .forgot {
        color: var(--main-green-color);
        font-size: 14px;
        font-family: var(--open-sans-font);
        font-weight: var(--font-sem-bold);
        text-decoration: underline;
      }
    }

    .or {
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      margin-bottom: 24px;

      &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 0;
        width: 45%;
        height: 1px;
        z-index: 999;
        background-color: #00465c;
      }

      &::after {
        content: "";
        position: absolute;
        top: 12px;
        right: 0;
        width: 45%;
        height: 1px;
        z-index: 999;
        background-color: #00465c;
      }
    }

    .buttons_container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 36px;
      @media screen and (max-width: 450px) {
        justify-content: center;
      }
      .google {
        width: 300px;
        @media screen and (max-width: 450px) {
          width: fit-content;
        }

        button {
          width: 100%;
          height: 43px;
          background-color: var(--main-green-color);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 6px 25px;
          cursor: pointer;

          color: var(--main-white-color);
          font-size: 20px;
          font-weight: var(--font-sem-bold);
          border: none;
          border-radius: 5px;
          @media screen and (max-width: 450px) {
            width: fit-content;
            padding: 6px;
          }
          p {
            @media screen and (max-width: 450px) {
              display: none;
            }
          }

          svg {
            width: 31px;
            height: 31px;
            margin-right: 28px;

            @media screen and (max-width: 450px) {
              margin-right: 0px;
            }
          }
        }
      }

      .facebook,
      .twitter {
        background-color: var(--main-green-color);
        margin-left: 26px;
        width: 43px;
        border-radius: 5px;

        cursor: pointer;

        .icon_container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 43px;
          height: 43px;

          svg {
            color: var(--main-white-color);
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    .continue {
      margin-bottom: 40px;
      button {
        width: 100%;
        height: 43px;
        background-color: var(--main-green-color);
        color: var(--main-white-color);
        cursor: pointer;
        transition: all 0.3s ease;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        font-family: var(--quickstand-font);

        &:hover {
          background-color: var(--main-cyan-color);
          color: var(--main-dark-color);
        }
      }
    }

    .signup {
      color: var(--main-green-color);
      font-size: 16px;
      font-family: var(--quickstand-font);
      text-align: center;
      a {
        color: red;
        text-decoration: underline;
      }
    }
  }
}
