#blogs {
  .header_container {
    background-color: var(--sec-green-color);
    padding-top: 34px;
    padding-bottom: 34px;

    @media screen and (max-width: 992px) {
      // padding-top: 57px;
      padding-bottom: 20px;
      padding-top: 8px;
    }

    .sec_container {
      position: relative;
      .text_container {
        .guide {
          margin-bottom: 16px;

          @media screen and (max-width: 992px) {
            margin-bottom: 8px;
          }

          h4 {
            color: var(--main-dark-color);
            font-size: 18px;
            margin: 0;

            font-weight: var(--font-medium);
            font-family: var(--quickstand-font);

            @media screen and (max-width: 992px) {
              font-style: 24px;
              font-weight: bold;
            }
          }
        }
        .title {
          h2 {
            color: var(--main-dark-color);
            letter-spacing: 0px;
            margin-bottom: 15px;

            font-size: 22px;
            font-weight: var(--font-medium);
            font-family: var(--quickstand-font);

            @media screen and (max-width: 992px) {
              font-size: 16px;
              margin-bottom: 10px;
            }
          }

          .blog_h2 {
            margin-bottom: 9px;
          }

          h4 {
            margin-bottom: 16px;
            font-size: 34px;
            font-weight: var(--font-sem-bold);
            font-family: var(--quickstand-font);

            @media screen and (max-width: 992px) {
              font-size: 24px;
              font-weight: bold;
            }
          }
        }

        .review_by {
          .author_img {
            margin-right: 1;
            width: 45px;
            height: 45px;
            @media screen and (max-width: 450px) {
              margin-bottom: 8px;
            }
            img {
              width: 100%;
              height: 100%;
              border-radius: 46px;
              object-fit: cover;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            p {
              color: var(--main-dark-color);
              font-size: 16px;
              font-family: var(--font-regular);
              letter-spacing: 0px;
              margin: 0;
              display: flex;

              font-weight: 500;
              font-family: var(--quickstand-font);

              @media screen and (max-width: 992px) {
                font-size: 16px;
              }
            }

            .date {
            }
          }
        }
      }

      .img_container {
        position: absolute;
        top: -48px;
        right: 0;
        // z-index: 0;

        @media screen and (max-width: 992px) {
          top: -197px;
          display: none;
        }

        .desk_top {
          width: 149px;
          height: 181px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media screen and (max-width: 992px) {
              display: none;
            }
          }
        }

        .mobile {
          width: 149px;
          height: 134px;

          @media screen and (min-width: 992px) {
            display: none;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.author_info {
  @media screen and (max-width: 450px) {
    display: flex;
    flex-direction: column-reverse;
  }

  .review_by {
    margin-right: 80px;

    @media screen and (max-width: 450px) {
      margin-right: 0px;
      margin-bottom: 16px;
    }
    .info {
      @media screen and (max-width: 450px) {
        align-self: center;
      }
    }
  }
  .author_img {
    margin-right: 16px;
  }
}

#hospital {
  background-color: var(--sec-green-color);
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (max-width: 992px) {
    // padding-top: 57px;
    padding-bottom: 20px;
    padding-top: 8px;
  }
  font-family: "Quicksand";

  .boxes_container {
    display: flex;
    .hospital_box {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      display: flex;
      padding: 9px;
      border-radius: 10px;
      margin-right: 32px;
      width: 800px;

      .main_img {
        width: 400px;
        height: 100%;
        margin-right: 26px;
        img {
          border-radius: 5px;
          width: 100%;
          height: 260px;
          object-fit: cover;
        }
      }

      .text_container {
        margin-top: 10px;
        .header {
          display: flex;
          align-items: flex-start;
          .icon_container {
            width: 18.04px;
            height: 19.25px;
            margin-right: 8px;
            svg {
              width: 100%;
              height: 100%;
              color: var(--main-green-color);
            }
          }

          .text {
            p {
              font-family: "Quicksand";
              font-size: 16px;
              color: var(--main-green-color);
            }
          }
        }
        .name {
          margin-top: 18px;
          margin-bottom: 8px;
          h3 {
            color: var(--main-dark-color);
            font-size: 24px;
            font-weight: var(--font-bold);
            font-family: "Quicksand";
          }
        }

        .rating {
          margin-top: 9px;
          display: flex;
          align-items: center;

          .reviews_num {
            color: var(--main-dark-color);
            margin-left: 11.4px;
            font-size: 18px;

            font-weight: var(--font-medium);
            font-family: var(--quickstand-font);
          }
        }
        .location {
          display: flex;
          align-items: flex-start;
          margin-bottom: 10px;
          svg {
            margin-right: 4.96px;
            font-size: 25px;
            color: var(--main-dark-color);
          }
          p {
            color: var(--main-dark-color);
            font-size: 16px;
            font-weight: var(--font-medium);
            font-family: var(--quickstand-font);
            font-family: "Quicksand";
          }
        }

        .category {
          margin-top: 8px;
          p {
            color: var(--main-dark-color);
            font-weight: var(--font-regular);
            font-family: "Quicksand";
          }
        }
      }
    }

    .info {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 10px;
      padding: 24px;
      width: 376px;

      .header {
        margin-bottom: 16px;
        h4 {
          margin: 0;
          color: var(--main-green-color);
          font-size: 18px;
          font-weight: var(--font-bold);
          font-family: "Quicksand";
        }
      }

      .boxes_container {
        display: flex;
        align-items: flex-start;
        .box {
          background-color: var(--sec-green-color);
          width: 100px;
          min-height: 110px;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 10px;
          margin-bottom: 24px;

          &:not(:last-child) {
            margin-right: 13px;
          }
        }

        .num {
          p {
            font-size: 28px;
            font-weight: var(--font-medium);
            color: var(--main-green-color);
            font-family: "Quicksand";
          }
        }

        .yearly {
          p {
            color: var(--main-dark-color);
            font-size: 16px;
            font-weight: var(--font-medium);
            font-family: "Quicksand";
          }
        }
      }

      .button_container {
        a {
          button {
            width: 100%;
            background-color: var(--main-green-color);
            color: var(--main-white-color);
            border-radius: 5px;
            height: 56px;
            font-size: 18px;
            font-weight: var(--font-bold);
            font-family: "Quicksand";
            cursor: pointer;
            border: none;
          }
        }
        width: 100%;
      }
    }
  }
}
// Ar
#blogs[dir="rtl"] {
  .header_container {
    .sec_container {
      .text_container {
        .guide {
          margin-bottom: 16px;

          @media screen and (max-width: 992px) {
            margin-bottom: 8px;
          }

          h4 {
            color: var(--main-dark-color);
            font-size: 18px;
            margin: 0;

            font-weight: var(--font-medium);
            font-family: var(--arabic-font);

            @media screen and (max-width: 992px) {
              font-style: 24px;
              font-weight: bold;
            }
          }
        }
        .title {
          h2 {
            color: var(--main-dark-color);
            letter-spacing: 0px;
            margin-bottom: 15px;

            font-size: 22px;
            font-weight: var(--font-medium);
            font-family: var(--arabic-font);

            @media screen and (max-width: 992px) {
              font-size: 16px;
              margin-bottom: 10px;
            }
          }

          .blog_h2 {
            margin-bottom: 9px;
          }

          h4 {
            margin-bottom: 16px;
            font-size: 34px;
            font-weight: var(--font-sem-bold);
            font-family: var(--arabic-font);

            @media screen and (max-width: 992px) {
              font-size: 24px;
              font-weight: bold;
            }
          }
        }

        .review_by {
          .author_img {
            margin-right: 16px;
            width: 45px;
            height: 45px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 46px;
              object-fit: cover;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            p {
              color: var(--main-dark-color);
              font-size: 16px;
              letter-spacing: 0px;
              margin: 0;
              display: flex;

              font-weight: var(--font-regular);
              font-family: var(--arabic-font);

              @media screen and (max-width: 992px) {
                font-size: 12px;
              }
            }
          }
        }
      }

      .img_container {
        position: absolute;
        top: -48px;
        right: 90%;

        @media screen and (max-width: 992px) {
          top: -197px;
          display: none;
        }

        .desk_top {
          width: 149px;
          height: 181px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media screen and (max-width: 992px) {
              display: none;
            }
          }
        }

        .mobile {
          width: 149px;
          height: 134px;

          @media screen and (min-width: 992px) {
            display: none;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.author_info[dir="rtl"] {
  .review_by {
    margin-right: 0px;
    margin-left: 80px;

    .author_img {
      margin-right: 0px !important;
      margin-left: 20px;
    }
  }
}

#blogs[dir="rtl"] * {
  font-family: var(--arabic-font);
}
.author_info[dir="rtl"] * {
  font-family: var(--arabic-font);
}

#hospital[dir="rtl"] {
  font-family: var(--arabic-font);

  .boxes_container {
    display: flex;
    justify-content: space-between;
    .hospital_box {
      margin-right: 0px;
      margin-left: 0px;

      .main_img {
        margin-right: 0px;
        margin-left: 26px;
        img {
        }
      }

      .text_container {
        .header {
          .icon_container {
            margin-right: 0px;
            margin-left: 8px;
            svg {
            }
          }

          .text {
            p {
              font-family: var(--arabic-font);
            }
          }
        }
        .name {
          h3 {
            font-family: var(--arabic-font);
          }
        }

        .rating {
          .reviews_num {
            margin-left: 0px;
            margin-right: 11.4px;
            font-family: var(--arabic-font);
          }
        }
        .location {
          svg {
            margin-right: 0px;
            margin-left: 4.96px;
          }
          p {
            font-family: var(--arabic-font);
          }
        }

        .category {
          p {
            font-family: var(--arabic-font);
          }
        }
      }
    }

    .info {
      .header {
        h4 {
          font-family: var(--arabic-font);
        }
      }

      .boxes_container {
        display: flex;
        align-items: flex-start;
        .box {
          &:not(:last-child) {
            margin-right: 0px;
            margin-left: 13px;
          }
        }

        .num {
          p {
            font-size: 28px;
            font-family: var(--arabic-font);
          }
        }

        .yearly {
          p {
            font-family: var(--arabic-font);
          }
        }
      }

      .button_container {
        a {
          button {
            font-family: var(--arabic-font);
          }
        }
      }
    }
  }
}
