.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card_wrapper {
  display: flex;
  position: relative;

  @media screen and (max-width: 992px) {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .quote_card {
    width: 472px;
    margin: 20px auto;
    background-color: var(--main-white-color);
    box-shadow: 0px 30px 30px #00000029;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 27px 24px;
    box-sizing: border-box;
    min-height: 570px;

    @media screen and (max-width: 992px) {
      margin-top: 16px;
    }
    @media screen and (max-width: 450px) {
      // border-radius: 0;
      // padding: 10px;
      // padding-bottom: 0;
      padding: 8px;
      // margin-top: 0;
      // margin-bottom: 0;
      // overflow: hidden;
      box-shadow: inset;
      // height: 100vh;
      margin: 0;
      padding-bottom: 0;
      padding-top: 10px;
      align-items: center;
      box-shadow: none;
      min-height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 502;
    }

    @media screen and (max-width: 400px) {
      background-color: transparent;
      padding: 10px;
      padding-bottom: 0;
    }

    .header {
      position: relative;
      width: 100%;
      button {
        background-color: transparent;
        border: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        display: flex;
        margin-bottom: 8px;

        @media screen and (max-width: 450px) {
          margin-top: 10px;
          margin-bottom: 0;
        }
        img {
          width: 51px;
          height: 51px;
        }
        h1 {
          color: var(--main-green-color);
          font-size: 23px;
          font-weight: var(--font-bold);
          margin-left: 10px;
        }
      }

      .close {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        svg {
          font-size: 30px;
          transition: all 0.3s ease;
          color: var(--main-dark-color);
          &:hover {
            color: #8d8d8d;
          }
        }
      }

      .back {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        color: var(--main-dark-color);
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
          @media screen and (min-width: 992px) {
            color: #8d8d8d;
          }
        }
        svg {
          margin-right: 8.37px;
        }
      }
    }

    .desc {
      margin-bottom: 16px;

      @media screen and (max-width: 400px) {
        margin-bottom: 7px;
      }

      p {
        text-align: center;
        color: var(--main-dark-color);
        font-size: 16px;
        font-weight: var(--font-sem-bold);
      }
    }

    // .steps {
    //   width: 100%;
    //   display: flex;
    //   justify-content: space-around;
    //   margin-bottom: 16px;

    //   .step {
    //     background-color: #8d8d8d;
    //     width: 38px;
    //     height: 38px;
    //     border-radius: 50%;
    //     display: flex;
    //     z-index: 3;
    //     span {
    //       position: relative;
    //       margin: auto;
    //       color: var(--main-white-color);
    //     }
    //     &:not(:last-child) {
    //       background-color: var(--main-green-color);

    //       ::after {
    //         content: "";
    //         position: absolute;
    //         top: 50%;
    //         left: 23px;
    //         width: 190px;
    //         height: 2px;
    //         z-index: 1;
    //         background-color: var(--main-green-color);
    //         @media screen and (max-width: 450px) {
    //           width: 155px;
    //         }
    //       }
    //     }
    //   }
    // }

    .question {
      align-self: flex-start;
      margin-bottom: 8px;
      @media screen and (max-width: 450px) {
        margin-top: 0 !important;
      }

      h4 {
        color: var(--main-dark-color);
        font-size: 18px;
        font-weight: var(--font-bold);
        font-family: "Quicksand";
        margin: 0;
      }
    }

    form {
      margin-bottom: 8px;
      @media screen and (max-width: 400px) {
        margin-bottom: 0;
      }
    }
    .form_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      @media screen and (max-width: 450px) {
        width: 100%;
        margin-bottom: 8px;
      }

      .last_child {
        grid-column: 1 / span 2;
      }
      label {
        border-radius: 5px;
        background-color: #e7edec;
        // min-height: 40px;
        margin-left: 0 !important;
        padding-right: 8px;
        width: 100%;

        span {
          color: var(--main-dark-color);
          font-size: 16px;
          font-weight: var(--font-sem-bold);
          font-family: "Quicksand";
          padding: 8;
          @media screen and (max-width: 400px) {
            font-size: 14px;
            font-weight: bold;
          }

          svg {
            color: var(--main-green-color);
            width: 17px;
            height: 17px;
          }
        }
      }
    }

    .form_2 {
      display: block !important;
      @media screen and (max-width: 450px) {
        margin-bottom: auto;
      }
      .step_2 {
        width: 100%;
        label {
          margin-right: 0;
          margin-left: 0;

          width: 100%;
          margin-top: 8px;
        }
      }

      label {
        background-color: #e7edec;
        border-radius: 5px;
        span {
          color: var(--main-dark-color);
          font-size: 16px;
          font-weight: var(--font-sem-bold);
          font-family: "Quicksand";
          svg {
            color: var(--main-green-color);
            width: 17px;
            height: 17px;
          }
        }
      }
    }

    .form_3 {
      width: 100%;
      .date {
        width: 100%;
        background-color: #8d8d8d21;
        margin-bottom: 20px;
        border-radius: 5px;
      }
    }

    .form_4 {
      width: 100%;
      .time {
        // background-color: #e7edec;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 16px;
        padding-bottom: 10px;
        padding-top: 10px;

        @media screen and (max-width: 450px) {
          padding-top: 0px;
        }

        ul {
          display: flex;
          // align-items: center;
          justify-content: flex-start;
          li {
            color: var(--main-dark-color);
            margin: 4px;

            width: 95px;
            padding: 0;
            padding: 8px;
            @media screen and (min-width: 450px) {
            }
          }
        }
      }

      .selctedDate {
        margin-bottom: 8px;
        font-size: 18px;
        text-align: left;
        margin-top: 8px;
        p {
          color: var(--main-dark-color);
          font-size: 18px;
          font-weight: var(--font-bold);
          font-family: "Quicksand";
          margin: 0;
        }
      }
    }

    .form_5 {
      label {
        // flex: 1;
        background-color: #e7edec;
        border-radius: 5px;
        // padding: 5px;
        height: 40px;

        span {
          color: var(--main-dark-color);
          font-size: 16px;
          font-weight: var(--font-sem-bold);
          font-family: "Quicksand";

          svg {
            color: var(--main-green-color);
            width: 17px;
            height: 17px;
          }
        }
      }

      .form_container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .username {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 8px;

          @media screen and (max-width: 450px) {
            flex-wrap: wrap;
          }

          .f_name,
          .l_name {
            @media screen and (max-width: 450px) {
              width: 100%;
            }

            label {
              background-color: transparent !important;
              color: var(--main-dark-color);
              font-size: 14px;
              font-weight: var(--font-bold);
              font-family: "Quicksand";
              margin-bottom: 8px;

              span {
                color: red;
              }
            }
            input {
              border: 1px solid #a1a1a1;
              border-radius: 5px;
              height: 40px;
              padding: 10px;
              font-size: 14px;
              color: var(--main-dark-color);

              @media screen and (max-width: 450px) {
                width: 100%;
                margin-bottom: 8px;
              }
              &:focus {
                outline: 1px solid var(--main-cyan-color);
              }
            }
          }
        }

        .phone {
          width: 100%;

          label {
            background-color: transparent !important;
            color: var(--main-dark-color);
            font-size: 14px;
            font-weight: var(--font-bold);
            font-family: "Quicksand";
            margin-bottom: 8px !important;

            span {
              color: red;
            }
          }

          input {
            width: 100%;
            height: 40px;
            border-radius: 5px;

            &:focus {
              outline: 1px solid var(--main-cyan-color);
            }

            &::placeholder {
              margin-left: 20px !important;
            }
          }
        }

        .email {
          width: 100%;
          margin-top: 8px;
          label {
            background-color: transparent !important;
            color: var(--main-dark-color);
            font-size: 14px;
            font-weight: var(--font-bold);
            font-family: "Quicksand";
            margin-bottom: 8px !important;

            span {
              color: red;
            }
          }
          input {
            margin-top: 8px;

            width: 100%;
            border: 1px solid #a1a1a1;
            border-radius: 5px;
            height: 40px;
            padding: 10px;
            font-size: 14px;
            color: var(--main-dark-color);
            &:focus {
              outline: 1px solid var(--main-cyan-color);
            }
          }
        }

        .terms_label {
          label {
            align-items: flex-start;
            margin-top: 20px;
            margin-bottom: 20px;
            @media screen and (max-width: 400px) {
              margin-top: 8px;
              margin-bottom: 8px;
            }
            height: auto;
            background-color: transparent;
            span {
              font-size: 12px;
              color: #7a7a7a;
            }
          }
        }
      }
    }

    .conf_code {
      .title {
        margin-bottom: 5px;

        h3 {
          color: var(--main-dark-color);
          font-weight: var(--font-sem-bold);
          font-size: 28px;
          margin-top: 50px;
        }
      }
      .desc {
        margin-bottom: 24px;
        p {
          text-align: left;
          color: var(--main-dark-color);
          font-size: 18px;
          font-weight: var(--font-medium);
          font-family: "Quicksand";
        }
      }

      .mobile_num {
        p {
          font-size: 18px;
          color: var(--main-dark-color);
          font-weight: var(--font-sem-bold);
          text-align: center;
        }
      }

      .input_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        input {
          width: 31px;
          margin-right: 16px;
          border-top: none;
          border-right: none;
          border-left: none;
          border-bottom: 3px solid var(--main-dark-color);
          outline: none;
          border-radius: 0;
          display: flex;

          color: var(--main-dark-color);
          font-size: 28px;
          padding-left: 8px;
        }
      }

      .resend {
        p {
          text-align: center;
          font-size: 16px;
          font-weight: var(--font-medium);
          color: var(--main-dark-color);
          button {
            background-color: transparent;
            border: none;
            color: #f32669;
            font-family: "Quicksand";
          }
        }
      }
    }

    .continue_btn {
      margin-top: auto;

      @media screen and (max-width: 450px) {
        // margin-top: 8px;
        margin-bottom: 16px;
      }
    }

    .step_8_container {
      display: flex;
      align-items: center;
      flex-direction: column;
      @media screen and (max-width: 450px) {
        margin-bottom: auto;
      }
      .icon_container {
        background-color: #00f3bb;
        border-radius: 50%;
        width: 37px;
        height: 37px;
        display: flex;
        svg {
          margin: auto;
          width: 50%;
          height: 50%;
        }
      }

      .title {
        margin-bottom: 16px;
        margin-top: 16px;
        h3 {
          color: var(--main-dark-color);
          font-size: 28px;
          font-weight: bold;
          text-align: center;
        }
      }

      .desc {
        p {
          color: var(--main-dark-color);
          font-size: 16px;
          font-family: "Quicksand";
          font-weight: var(--font-medium);
          text-align: left;
        }
      }
    }

    .asp_btn {
      margin-bottom: 10px;
    }

    .continue_btn,
    .asp_btn {
      width: 100%;
      button {
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: var(--main-white-color);
        background-color: var(--main-green-color);
        width: 100%;
        padding: 17px;
        font-size: 18px;
        font-weight: var(--font-bold);
        font-family: "Quicksand";
        transition: all 0.3s ease;

        &:hover {
          @media screen and (min-width: 992px) {
            background-color: var(--main-cyan-color);
            color: var(--main-dark-color);
          }
        }
      }
    }
  }
}
