footer#footer {
  background-color: var(--main-green-color);
  // margin-top: 104px;
  padding-top: 64px;
  padding-bottom: 100px;
  @media screen and (max-width: 992px) {
    // margin-top: 31px;
    padding-top: 28px;
  }

  .logo_footer {
    margin-bottom: 41px;
    @media screen and (max-width: 992px) {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      width: 58.3px;
      height: 50.18px;
      img {
        margin-right: 11px;
        width: 100%;
        height: 100%;
      }
      h4 {
        font-size: 28px;
        font-weight: var(--font-bold);
        color: var(--sec-white-color);
        @media screen and (max-width: 992px) {
          display: none;
        }
      }
    }
  }

  .info_section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }

    .links_container {
      margin-bottom: 42px;
      width: 100%;
      .boxes {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media screen and (max-width: 1100px) {
          justify-content: flex-start;
          flex-wrap: wrap;
        }

        .box {
          margin-right: 47px;
          @media screen and (max-width: 1100px) {
            margin-right: 56px;
            margin-top: 31px;
          }

          @media screen and (max-width: 992px) {
            margin-right: 0;
            width: 50%;
          }

          .box_title {
            margin-bottom: 16px;

            h6 {
              font-size: 18px;
              font-weight: var(--font-bold);
              font-family: var(--quickstand-font);
              color: var(--main-white-color);
            }
          }

          .box_link {
            @media screen and (max-width: 992px) {
              margin-right: 10px;
            }
            ul {
              padding: 0;
              margin: 0;
              li {
                list-style-type: none;
                margin-bottom: 8px;
                a {
                  text-decoration: none;
                  color: var(--main-white-color);
                  font-size: 16px;

                  font-weight: var(--font-regular);
                  font-family: var(--quickstand-font);
                }
              }
            }
          }
        }
      }
    }
  }

  hr {
    margin-bottom: 54px;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .about_section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      margin-bottom: 45px;
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .about_us {
      h6 {
        color: var(--main-white-color);
        font-size: 18px;

        font-weight: var(--font-medium);
        font-family: var(--quickstand-font);
      }
    }

    .social_links {
      display: flex;
      align-items: center;

      @media screen and (max-width: 992px) {
        margin-bottom: 42px;
      }

      .link {
        &:not(:last-child) {
          margin-right: 19.4px;
        }
        a {
          width: 28.79px;
          height: 23.38px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

#footer_nav {
  background-color: var(--main-white-color);
  box-shadow: 0px 2px 10px #00000029;
  padding-top: 14.4px;
  padding-bottom: 14.4px;
  width: 100%;

  position: fixed;
  bottom: 0px;
  z-index: 99;

  .patient {
    .img_container {
      width: 50px;
      height: 50px;
      border-radius: 46px;
      opacity: 1;
      margin-right: 19px;
      img {
        border-radius: 50%;
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
      }
    }
    .doc_data {
      .doc_job {
        a {
          h6 {
            font-size: 16px;
            color: var(--main-dark-color);

            font-weight: var(--font-medium);
            font-family: var(--quickstand-font);
          }
        }
      }

      .doc_name {
        a {
          h6 {
            font-size: 16px;
            color: var(--main-dark-color);
            font-weight: var(--font-medium);
            font-family: var(--quickstand-font);
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      display: none;
    }

    .doc_info {
      display: flex;
      flex-direction: row;
      align-items: center;
      .name {
        margin-right: 16px;
        h6 {
          color: var(--main-green-color);
          font-size: 18px;
          font-weight: var(--font-sem-bold);
          font-family: var(--quickstand-font);
        }
      }

      .location {
        display: flex;
        flex-direction: row;
        align-items: center;
        svg {
          width: 20px;
          height: 20px;
        }
        h6 {
          color: var(--main-dark-color);
          font-size: 16px;
          font-weight: var(--font-regular);
          font-family: var(--quickstand-font);
        }
      }
    }
  }

  .btns_container {
    align-items: center;

    @media screen and (max-width: 600px) {
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    .contact,
    .quote {
      a {
        button {
          width: 155px;
          height: 45px;
          border: 2px solid #000000;
          border-radius: 5px;
          background-color: transparent;
          cursor: pointer;
          font-size: 18px;

          @media screen and (max-width: 600px) {
            height: 48px;
            font-size: 16px;
          }
        }
      }
    }

    .contact {
      margin-right: 19px;
      @media screen and (max-width: 450px) {
        margin-right: 7px;
      }
      a {
        button {
          background-color: var(--main-white-color);
          color: var(--main-green-color);

          font-weight: var(--font-bold);
          font-family: var(--quickstand-font);
        }
      }
    }

    .quote {
      a {
        button {
          background-color: var(--main-green-color);
          border: 1px solid var(--main-green-color);
          color: var(--main-white-color);

          font-weight: var(--font-bold);
          font-family: var(--quickstand-font);
        }
      }
    }

    p {
      margin-right: 24px;
      color: var(--main-dark-color);
      font-size: 16px;
      font-weight: var(--font-regular);
      font-family: var(--quickstand-font);
    }
  }
}

// AR
footer#footer[dir="rtl"] {
  .logo_footer {
    a {
      text-decoration: none;
      display: flex;
      align-items: center;

      img {
        margin-right: 11px;
      }
      h4 {
        font-size: 28px;
        font-family: var(--arabic-font);
      }
    }
  }

  .info_section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }

    .links_container {
      .boxes {
        .box {
          margin-right: 0px;
          margin-left: 0px;

          @media screen and (max-width: 1100px) {
            margin-left: 0px;
            margin-top: 31px;
          }

          @media screen and (max-width: 992px) {
            margin-right: 0;
            width: 50%;
          }

          .box_title {
            h6 {
              font-family: var(--arabic-font) !important;
            }
          }

          .box_link {
            ul {
              padding: 0;
              margin: 0;
              li {
                list-style-type: none;
                margin-bottom: 8px;
                a {
                  text-decoration: none;
                  color: var(--main-white-color);
                  font-size: 16px;

                  font-weight: var(--font-regular);
                  font-family: var(--arabic-font);
                }
              }
            }
          }
        }
      }
    }
  }

  hr {
    margin-bottom: 54px;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .about_section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      margin-bottom: 45px;
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .about_us {
      h6 {
        color: var(--main-white-color);
        font-size: 18px;

        font-weight: var(--font-medium);
        font-family: var(--arabic-font);
      }
    }

    .social_links {
      display: flex;
      align-items: center;

      @media screen and (max-width: 992px) {
        margin-bottom: 42px;
      }

      .link {
        &:not(:last-child) {
          margin-right: 0px;
          margin-left: 19.4px;
        }
        a {
          width: 28.79px;
          height: 23.38px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

#footer_nav[dir="rtl"] {
  .patient {
    .img_container {
      margin-right: 0px;
      margin-left: 19px;
    }
    .doc_data {
      .doc_job {
        a {
          h6 {
            font-weight: var(--font-medium);
            font-family: var(--arabic-font);
          }
        }
      }

      .doc_name {
        a {
          h6 {
            font-family: var(--arabic-font);
          }
        }
      }
    }

    .doc_info {
      .name {
        margin-right: 0px;
        margin-left: 16px;
        h6 {
          font-family: var(--arabic-font);
        }
      }

      .location {
        h6 {
          font-family: var(--arabic-font);
        }
      }
    }
  }

  .btns_container {
    @media screen and (max-width: 600px) {
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    .contact,
    .quote {
      a {
        button {
        }
      }
    }

    .contact {
      margin-right: 0px;
      margin-left: 19px;
      @media screen and (max-width: 450px) {
        margin-left: 7px;
      }
    }

    p {
      margin-right: 0px;
      margin-left: 24px;
      font-family: var(--arabic-font);
    }
  }
}
