section.compare {
  .sec_container {
    display: flex;
    margin-top: 57px;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 750px) {
      flex-direction: column;
      align-items: center;
      margin-top: 24px;
    }

    .mobile_filter {
      width: 100%;
      @media screen and (min-width: 450px) {
        display: none !important;
      }
      @media screen and (max-width: 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .title {
        display: flex;
        margin-bottom: 24px;
        justify-content: space-between;
        max-width: 344px;
        align-items: center;
        @media screen and (max-width: 450px) {
          width: 100%;
        }

        h3 {
          font-size: 18px;
          font-weight: var(--font-bold);
          font-family: var(--quickstand-font);
          color: var(--main-dark-color);
        }
        .icon_container {
          width: 121px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border: 1px solid #a1a1a1;
          border-radius: 5px;
          text-align: center;
          cursor: pointer;
          svg {
            margin-right: 8px;
          }
        }
      }
      .filter_sec {
        max-width: 344px;
        @media screen and (max-width: 450px) {
          width: 100%;
        }
      }
    }

    .filter_container {
      margin-right: 34px;
      @media screen and (max-width: 750px) {
        margin-right: 0;
        margin-bottom: 24px;
      }

      @media screen and (max-width: 450px) {
        display: none;
      }

      .sec_title {
        h3 {
          font-weight: var(--font-sem-bold);
        }
      }
      .filter_box {
        background-color: rgb(197 223 220 / 20%);
        padding: 24px;
        width: 395px;
        margin-top: 16px;
        .title {
          h6 {
            color: var(--main-dark-color);
            font-size: 18px;
            font-weight: var(--font-sem-bold);
          }
        }

        .check_box {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 24px;
          label * {
            margin: 0;
          }

          label span {
            color: var(--main-dark-color);
            font-size: 16px;
            font-weight: var(--font-medium);
          }
        }
        .price {
          .title {
            h6 {
            }
          }
          .price_num {
            p {
              color: var(--main-dark-color);
              font-size: 24px;
              font-weight: var(--font-sem-bold);
            }
          }
          .price_range {
            span {
              color: var(--main-dark-color);
            }
          }
        }

        .treatment_fee {
          display: flex;
          flex-direction: row;
          .check_box {
            label {
            }
          }
        }

        .accordion_container {
          margin-bottom: 24px;
        }

        .reset_btn {
          button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: var(--main-green-color);
            text-decoration: underline;
            font-size: 18px;
            font-weight: var(--font-sem-bold);
          }
        }
      }
    }

    .results_container {
      @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
      }
      .sec_title {
        @media screen and (max-width: 750px) {
          display: none;
        }
        h3 {
          font-weight: var(--font-bold);
        }
      }

      .btns_container {
        display: flex;
        margin-top: 16px;
        @media screen and (max-width: 750px) {
          display: none;
        }
        .btn {
          margin-right: 16px;

          @media screen and (max-width: 750px) {
            margin-right: 10px;
          }
          button {
            padding: 10px 18px 10px;

            @media screen and (max-width: 992px) {
              padding: 0;
            }

            @media screen and (max-width: 750px) {
              padding: 8px;
            }

            background-color: var(--light-green-color);
            border: 2px solid var(--main-green-color);
            border-radius: 24px;

            text-align: center;
            color: var(--main-dark-color);
            font-family: var(--quickstand-font);
            font-size: 16px;
            font-weight: var(--font-sem-bold);
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
              background-color: var(--main-green-color);
              color: var(--main-white-color);
            }
          }
        }
      }

      .results_boxes_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 32px;
        width: 750px;
        @media screen and (max-width: 992px) {
          margin-top: 24px;
        }

        @media screen and (max-width: 450px) {
          align-items: center;
          justify-content: center;
        }

        .box {
          width: 344px;
          border-radius: 5px;
          box-shadow: 0px 3px 9px #00000029;
          height: 518px;
          background-color: var(--main-white-color);
          margin-right: 26px;
          margin-bottom: 26px;

          display: flex;
          flex-direction: column;
          color: var(--main-dark-color);

          @media screen and (max-width: 992px) {
            width: 344px;
            margin-right: 10px;
            margin-bottom: 10px;
            height: 518px;
          }

          .img_container {
            width: 100%;
            height: 191px;
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;

              border-radius: 5px 5px 0px 0px;
            }

            .verified {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;

              background-color: var(--sec-cyan-color);

              padding-left: 15px;
              padding-top: 4px;
              padding-bottom: 4px;

              display: flex;
              align-items: center;
              svg {
                font-size: 12px;
                margin-right: 7.98px;
                color: var(--main-green-color) !important;
              }

              p {
                font-weight: 600;
                font-size: 12px;

                color: var(--main-dark-color);
              }
            }

            .check_box {
              position: absolute;
              top: 16px;
              right: 0;
              label {
                flex-direction: column-reverse;
                span {
                  margin-top: 0;
                  padding-top: 0;
                  :nth-child(2) {
                    margin-left: 35px;
                  }
                }
              }
            }
          }

          .box_text_container {
            height: 100%;
            margin-top: 8px;
            margin-bottom: 16px;
            padding-right: 22px;
            padding-left: 15px;

            display: flex;
            flex-direction: column;

            .title {
              margin-bottom: 4px;

              h5 {
                font-size: 18px;
                font-weight: bold;
                font-family: var(--font-bold);
                color: var(--main-green-color);
                letter-spacing: 0;
              }
            }

            .name {
              margin-bottom: 4px;

              h5 {
                font-size: 18px;
                color: var(--main-dark-color);
                font-weight: var(--font-bold);
                font-family: var(--quickstand-font);
              }
            }

            .job_title {
              h6 {
                color: var(--main-dark-color);
                font-size: 17px;

                font-weight: var(--font-sem-bold);
                font-family: var(--quickstand-font);
              }
            }

            .type {
              h6 {
                color: var(--main-dark-color);
                font-size: 16px;
                font-weight: var(--font-regular);
                font-family: var(--quickstand-font);
              }
            }

            .rating {
              margin-top: 9px;
              display: flex;
              align-items: center;

              .reviews_num {
                color: var(--main-dark-color);
                margin-left: 12.34px;
                font-size: 14px;

                font-weight: var(--font-medium);
                font-family: var(--quickstand-font);
              }
            }

            .desc {
              margin-top: 16px;
              flex: 1 0 auto;
              max-height: 69%;
              margin-bottom: auto;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 9;
              white-space: pre-wrap;
              -webkit-line-clamp: 9;

              @media screen and (max-width: 992px) {
                -webkit-line-clamp: 6 !important;
                -webkit-line-clamp: 6 !important;
              }

              p {
                font-size: 16px;
                color: var(--main-dark-color);

                letter-spacing: 0px;
                font-weight: var(--font-sem-bold);
                font-family: var(--quickstand-font);

                @media screen and (max-width: 992px) {
                  font-size: 16px;
                }
              }
            }

            .location {
              display: flex;
              align-items: center;
              margin-top: 6px;
              svg {
                margin-right: 4.96px;
                font-size: 25px;
                color: var(--main-dark-color);
              }
              p {
                color: var(--main-dark-color);
                font-size: 16px;
                font-weight: var(--font-medium);
                font-family: var(--quickstand-font);
              }
            }

            .patient_num {
              margin-top: 4.86px;
            }

            .price {
              h6 {
                color: var(--main-dark-color);
                font-size: 16px;
                letter-spacing: 0;
                font-weight: var(--font-sem-bold);
                font-family: var(--quickstand-font);
              }
            }

            #price {
              color: var(--main-dark-color);

              margin-top: 33px;
              width: 150px;
              flex: 1 0 auto;

              @media screen and (max-width: 992px) {
                margin-top: 33px;
              }

              p {
                font-size: 16px;
                font-weight: var(--font-regular);
                font-family: var(--quickstand-font);
              }

              span {
                font-size: 16x;
                font-weight: var(--font-bold);
                font-family: var(--quickstand-font);
              }
            }

            .founded,
            .yearly_patient {
              display: flex;
              span {
                margin-right: 8px;
                font-weight: bold;
                color: var(--main-dark-color);

                font-size: 18px;
                font-weight: var(--font-bold);
                font-family: var(--quickstand-font);
              }
              p {
                color: var(--main-dark-color);
                font-size: 16px;
                font-weight: var(--font-regular);
                font-family: var(--quickstand-font);
              }
            }

            .yearly_patient {
              flex: 1 0 auto;
            }

            .founded {
              margin-top: 15px;
            }

            .patient_num,
            .experience {
              display: flex;
              p {
                font-size: 16px;
                color: var(--main-dark-color);

                font-weight: var(--font-regular);
                font-family: var(--quickstand-font);
              }

              span {
                margin-right: 4px;
                font-size: 18px;

                font-weight: var(--font-bold);
                font-family: var(--quickstand-font);
              }
            }

            .employess {
              display: flex;
              color: var(--main-dark-color);

              span {
                margin-right: 4px;
                font-size: 18px;
                font-weight: var(--font-bold);
                font-family: var(--quickstand-font);
              }

              p {
                font-size: 16px;
                font-weight: var(--font-regular);
                font-family: var(--quickstand-font);
              }
            }

            .btn_container {
              text-align: right;
              justify-self: flex-end !important;
              align-self: flex-end;

              a {
                text-decoration: underline;
                color: #002845;
                font-size: 16px;

                font-weight: var(--font-medium);
                font-family: var(--quickstand-font);
              }
            }
          }
        }
      }
    }

    .filter_container,
    .results_container {
      .sec_title {
        h3 {
          color: var(--main-dark-color);
          font-size: 18px;
        }
      }
    }

    .side_bar_mobile {
      background-color: #fafafa;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100vh;
      width: 100%;
      box-shadow: 0 0 20px hsl(0deg 0% 66% / 15%);
      z-index: 99;

      // padding-top: 20px;
      // padding-right: 33.5px;
      // padding-left: 33.5px;
      // padding-bottom: 120px;

      max-height: calc(150vh - 50px);
      overflow-x: hidden;
      z-index: 1111;
      @media screen and (min-width: 450px) {
        display: none !important;
      }

      .inner_container {
        .back_container {
          background-color: #ffffff;

          .back {
            display: flex;
            align-items: center;
            height: 58px;
            p {
              font-size: 18px;
              color: var(--main-dark-color);
            }
            .icon_container {
              margin-right: 16px;
              svg {
                color: var(--main-dark-color);
              }
            }
          }
        }

        .filter_box {
          margin-top: 16px;
          .title {
            h6 {
              color: var(--main-dark-color);
              font-size: 16px;
              font-weight: var(--font-sem-bold);
            }
          }

          .check_box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 24px;
            label * {
              margin: 0;
            }

            label span {
              color: var(--main-dark-color);
              font-size: 16px;
              font-weight: var(--font-medium);
            }
          }
          .price {
            .title {
              h6 {
              }
            }
            .price_num {
              p {
                color: var(--main-dark-color);
                font-size: 24px;
                font-weight: var(--font-sem-bold);
              }
            }
            .price_range {
              span {
                color: var(--main-dark-color);
              }
            }
          }

          .treatment_fee {
            display: flex;
            flex-direction: row;
            .check_box {
              label {
              }
            }
          }

          .accordion_container {
            margin-bottom: 24px;
          }

          .reset_btn {
            button {
              background-color: transparent;
              border: none;
              cursor: pointer;
              color: var(--main-green-color);
              text-decoration: underline;
              font-size: 18px;
              font-weight: var(--font-sem-bold);
            }
          }

          .found_btn {
            margin-top: 24px;
            margin-bottom: 24px;
            width: 100%;
            button {
              width: 100%;
              background-color: var(--main-green-color);
              color: var(--main-white-color);
              border-radius: 5px;
              height: 48px;
              border: none;
              cursor: pointer;
              font-size: 18px;
              font-weight: var(--font-sem-bold);
              font-family: var(--quickstand-font);
            }
          }
        }
      }
    }
  }

  section.results * {
    font-family: var(--quickstand-font);
  }
  section.results {
    background-color: #fafafa;
    .result_container,
    .result_container_slider {
      padding-top: 40px;
      padding-bottom: 40px;
      .boxes_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .box {
          display: flex;
          flex-direction: column;
          align-items: center;
          &:not(:last-child) {
            margin-right: 8px;
          }
          .treatment_name {
            background-color: #ffffff;
            width: 296px;
            height: 149px;
            display: flex;
            p {
              margin: auto;
              font-size: 26px;
              font-weight: var(--font-sem-bold);
              font-family: var(--quickstand-font);
            }
          }
          .specialties {
            background-color: #e7edec;
            width: 296px;
            height: 98px;
            display: flex;
            p {
              margin: 8px auto;
              font-size: 18px;
            }
          }
          .exp,
          .last_year,
          .performed,
          .langs,
          .memberships,
          .rank,
          .verifi,
          .fee {
            background-color: #c5dfdc;
            height: 50px;
            display: flex;
            width: 100%;
            p {
              font-size: 18px;
              margin: auto;
            }
          }
          .memberships {
            width: 296px;
            height: 146px;
            display: flex;
            p {
              margin: 8px auto;
            }
          }
          .last_year,
          .rank,
          .langs,
          .fee {
            background-color: #e7edec;
          }
          .box_container {
            padding-right: 8px;
            padding-left: 8px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .icon_container {
              display: flex;
              background-color: #c5dfdc;
              align-items: center;
              height: 28.5px;
              padding: 6px;
              cursor: pointer;
              svg {
                position: relative;
                border-radius: 50%;
                background-color: var(--main-dark-color);

                width: 20px;
                height: 20px;
                color: var(--main-white-color);
                margin-right: 8px;
                &:after {
                  content: "";
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 100%;
                  height: 100%;
                  background-color: red;
                }
              }
              p {
              }
            }
            .doc_info {
              display: flex;
              align-content: center;
              margin-top: 6px;
              margin-bottom: 6.5px;
              .img_container {
                margin-right: 16px;
                width: 113px;
                height: 107px;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .text_container {
                display: flex;
                flex-direction: column;
                .doc_name {
                  p {
                    font-size: 18px;
                    font-weight: var(--font-bold);
                  }
                }

                .rating {
                  display: flex;
                  flex-direction: column;
                  .reviews_num {
                    font-size: 14px;
                    font-weight: var(--font-bold);
                  }
                }
                .location {
                  margin-top: 8px;
                  display: flex;
                  align-items: center;
                  svg {
                    margin-right: 4px;
                    margin-left: -4px;
                    width: 21px;
                    height: 21px;
                  }
                  p {
                  }
                }
              }
            }

            .specialties {
              background-color: #e7edec;
              width: 296px;
              height: 98px;
              display: flex;
              p {
                margin: 8px auto;
                font-size: 18px;
                padding-right: 16px;
                padding-left: 16px;
              }
            }

            .last_year,
            .exp,
            .performed,
            .langs,
            .memberships,
            .verifi,
            .rank,
            .fee {
              background-color: #c5dfdc;
              height: 50px;
              display: flex;
              width: 100%;
              p {
                font-size: 18px;
                margin: auto;
              }
            }

            .memberships {
              width: 296px;
              height: 146px;
              display: flex;
              p {
                margin: 16px;
              }
            }

            .last_year,
            .langs,
            .fee,
            .rank {
              background-color: #e7edec;
            }
          }
          .back_btn {
            width: 296px;
            height: 145px;
            background-color: #c5dfdc;
            button {
              width: 100%;
              height: 100%;
              background-color: transparent;
              border: none;
              cursor: pointer;
              text-align: center;

              font-size: 34px;
              font-weight: var(--font-sem-bold);
              svg {
                margin-right: 13px;
                width: 18.18px;
                height: 24.18px;
              }
            }
          }

          .consult_btn {
            width: 296px;
            height: 145px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #c5dfdc;

            button {
              width: 163px;
              height: 56px;
              margin-bottom: 16px;
              background-color: var(--main-green-color);
              border: none;
              color: var(--main-white-color);
              font-family: var(--quickstand-font);
              font-size: 18px;
              font-weight: var(--font-bold);
              cursor: pointer;
              border-radius: 5px;
            }
            a {
              text-decoration: underline;
              color: var(--main-green-color);
              font-family: var(--quickstand-font);
              font-size: 18px;
              font-weight: var(--font-sem-bold);
            }
          }
        }
      }
    }

    .result_container {
      display: block;
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
    .result_container_slider {
      display: none;
      @media screen and (max-width: 1200px) {
        display: flex;
      }
      @media screen and (max-width: 690px) {
        display: none;
      }

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:not(:last-child) {
          margin-right: 8px;
        }
        .treatment_name {
          background-color: #ffffff;
          width: 296px;
          height: 149px;
          display: flex;
          p {
            margin: auto;
            font-size: 26px;
            font-weight: var(--font-sem-bold);
            font-family: var(--quickstand-font);
          }
        }
        .specialties {
          background-color: #e7edec;
          width: 296px;
          height: 98px;
          display: flex;
          p {
            margin: 8px auto;
            font-size: 18px;
          }
        }
        .exp,
        .last_year,
        .performed,
        .langs,
        .memberships,
        .rank,
        .verifi,
        .fee {
          background-color: #c5dfdc;
          height: 50px;
          display: flex;
          width: 100%;
          p {
            font-size: 18px;
            margin: auto;
          }
        }
        .memberships {
          width: 296px;
          height: 146px;
          display: flex;
          p {
            margin: 8px auto;
          }
        }
        .last_year,
        .rank,
        .langs,
        .fee {
          background-color: #e7edec;
        }
        .box_container {
          padding-right: 8px;
          padding-left: 8px;
          width: 100%;
          display: flex;
          flex-direction: column;
          .icon_container {
            display: flex;
            background-color: #c5dfdc;
            align-items: center;
            height: 28.5px;
            padding: 6px;
            cursor: pointer;
            svg {
              position: relative;
              border-radius: 50%;
              background-color: var(--main-dark-color);

              width: 20px;
              height: 20px;
              color: var(--main-white-color);
              margin-right: 8px;
              &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: red;
              }
            }
            p {
            }
          }
          .doc_info {
            display: flex;
            align-content: center;
            margin-top: 6px;
            margin-bottom: 6.5px;
            .img_container {
              margin-right: 16px;
              width: 113px;
              height: 107px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .text_container {
              display: flex;
              flex-direction: column;
              .doc_name {
                p {
                  font-size: 18px;
                  font-weight: var(--font-bold);
                }
              }

              .rating {
                display: flex;
                flex-direction: column;
                .reviews_num {
                  font-size: 14px;
                  font-weight: var(--font-bold);
                }
              }
              .location {
                margin-top: 8px;
                display: flex;
                align-items: center;
                svg {
                  margin-right: 4px;
                  margin-left: -4px;
                  width: 21px;
                  height: 21px;
                }
                p {
                }
              }
            }
          }

          .specialties {
            background-color: #e7edec;
            width: 296px;
            height: 98px;
            display: flex;
            p {
              margin: 8px auto;
              font-size: 18px;
              padding-right: 16px;
              padding-left: 16px;
            }
          }

          .last_year,
          .exp,
          .performed,
          .langs,
          .memberships,
          .verifi,
          .rank,
          .fee {
            background-color: #c5dfdc;
            height: 50px;
            display: flex;
            width: 100%;
            p {
              font-size: 18px;
              margin: auto;
            }
          }

          .memberships {
            width: 296px;
            height: 146px;
            display: flex;
            p {
              margin: 16px;
            }
          }

          .last_year,
          .langs,
          .fee,
          .rank {
            background-color: #e7edec;
          }
        }
        .back_btn {
          width: 296px;
          height: 145px;
          background-color: #c5dfdc;
          button {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            text-align: center;

            font-size: 34px;
            font-weight: var(--font-sem-bold);
            svg {
              margin-right: 13px;
              width: 18.18px;
              height: 24.18px;
            }
          }
        }

        .consult_btn {
          width: 296px;
          height: 145px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #c5dfdc;

          button {
            width: 163px;
            height: 56px;
            margin-bottom: 16px;
            background-color: var(--main-green-color);
            border: none;
            color: var(--main-white-color);
            font-family: var(--quickstand-font);
            font-size: 18px;
            font-weight: var(--font-bold);
            cursor: pointer;
            border-radius: 5px;
          }
          a {
            text-decoration: underline;
            color: var(--main-green-color);
            font-family: var(--quickstand-font);
            font-size: 18px;
            font-weight: var(--font-sem-bold);
          }
        }
      }

      .boxes_container {
        display: block;
        width: 100%;
      }
    }
  }
}
