.layer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.87);
}
#hospital_header {
  .img_container {
    width: 100%;
    height: 218px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .header {
    margin-top: 14px;
    display: flex;
    align-items: flex-start;
    color: var(--main-cyan-color);
    .icon_container {
      margin-right: 10px;

      svg {
        width: 18.4px;
        height: 19.25px;
      }
    }
    .text {
      p {
        font-size: 14px;
      }
    }
  }

  .title {
    margin-top: 14px;
    margin-bottom: 14px;
    h3 {
      font-size: 24px;
      color: var(--main-dark-color);
      font-weight: var(--font-bold);
      font-family: var(--quickstand-font);
    }
  }

  .text_container {
    .name {
      margin-bottom: 12px;
      p {
        color: var(--main-dark-color);
        font-size: 18px;
        font-weight: normal;
      }
    }

    .rating {
      margin-bottom: 10px;
      span.reviews_num {
        margin-left: 13.5px;
      }
    }

    .location {
      display: flex;
      align-items: flex-start;

      margin-bottom: 16px;
      svg {
        width: 31.04px;
        height: 30.49px;
        margin-right: 7.5px;
      }

      p {
        color: var(--main-dark-color);
        font-size: 16px;
        font-weight: var(--font-medium);
      }
    }

    .boxes_container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .box {
        background-color: var(--sec-green-color);
        width: 100px;
        min-height: 110px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        margin-bottom: 24px;

        &:not(:last-child) {
          margin-right: 13px;
        }
      }

      .num {
        p {
          font-size: 28px;
          font-weight: var(--font-medium);
          color: var(--main-green-color);
          font-family: "Quicksand";
        }
      }

      .yearly {
        p {
          color: var(--main-dark-color);
          font-size: 16px;
          font-weight: var(--font-medium);
          font-family: "Quicksand";
        }
      }
    }

    .button_container {
      margin-bottom: 16px;
      width: 100%;

      button {
        width: 100%;
        background-color: var(--main-green-color);
        color: var(--main-white-color);
        border-radius: 5px;
        height: 56px;
        font-size: 18px;
        font-weight: var(--font-bold);
        font-family: "Quicksand";
        cursor: pointer;
        border: none;
      }
    }
  }
}

section.overview {
  width: 699px;
  margin-bottom: 66px;

  overflow: hidden;

  @media screen and (max-width: 992px) {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .text_inner {
    margin-top: 32px;
    margin-bottom: 24px;
    p {
      color: var(--main-dark-color);
      font-size: 16px;
      font-family: var(--quickstand-font);
      font-weight: var(--font-regular);
    }
  }

  .info {
    .boxes_container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row-reverse;

      @media screen and (max-width: 992px) {
        flex-direction: column;
      }

      .certificates_boxes,
      .desc_boxes {
        .title {
          margin-top: 10px;
          margin-bottom: 10px;

          h3 {
            color: var(--main-dark-color);
            font-size: 16px;
            font-weight: var(--font-bold);
            font-family: var(--quickstand-font);
          }
        }
      }

      .certificates_boxes {
        width: 100%;
        @media screen and (min-width: 992px) {
          margin-left: 54px;
        }
        .title {
          h3 {
            @media screen and (min-width: 992px) {
              padding-left: 44px;
            }
          }
        }

        .slider_container {
          width: 465px;
          @media screen and (max-width: 992px) {
            width: 100%;
          }

          .title {
            h6 {
              color: var(--main-dark-color);
              font-size: 16px;
              font-weight: var(--font-bold);
              font-family: var(--quickstand-font);
            }
          }
          .box {
            cursor: pointer;
            border-radius: 15px;
            background-color: var(--main-white-color);
            box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.161);
            padding: 16px;

            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 5px;

            @media screen and (min-width: 992px) {
              min-width: 465px;
            }

            .boxes_container {
              display: flex;
              align-items: flex-start;
              flex-direction: row;

              .box_header {
                margin-right: 13px;
                .img_container {
                  width: 66.87px;
                  height: 99.78px;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }
              }
              .desc {
                p {
                  color: var(--main-dark-color);
                  font-size: 14px;
                  font-weight: var(--font-regular);
                  font-family: var(--quickstand-font);

                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 3;
                  white-space: pre-wrap;
                  -webkit-line-clamp: 3;
                }
                button {
                  text-decoration: underline;
                  color: var(--main-dark-color);
                  font-size: 14px;
                  font-family: var(--quickstand-font);
                  font-weight: var(--font-regular);
                }
              }
            }
          }
        }
      }

      .desc_boxes {
        @media screen and (max-width: 992px) {
          display: flex;
          flex-wrap: wrap;
          // flex-direction: column-reverse;
          flex-direction: row;
        }
        .box {
          margin-right: 20px;
          ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            li {
              padding: 0;
              margin: 0;
              // margin-left: 20px;
              list-style-type: none;

              color: var(--main-dark-color);
              font-size: 16px;
              font-weight: var(--font-regular);
              font-family: var(--quickstand-font);
            }
          }
        }
      }
    }

    .links {
      margin-top: 43px;
    }
  }
}

section.reviews {
  background-color: #f4f9f8;
  padding-top: 60px;
  padding-bottom: 56px;

  @media screen and (max-width: 992px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .title_mob {
    margin-bottom: 10px;
    @media screen and (min-width: 992px) {
      display: none;
    }
    h4 {
      color: var(--main-dark-color);
      font-size: 18px;
      font-family: var(--quickstand-font);
      font-weight: var(--font-bold);
    }
  }

  .boxes_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .text_container {
      width: 25%;

      @media screen and (max-width: 992px) {
        display: none;
      }

      .title {
        h4 {
          color: var(--main-dark-color);
          font-size: 28px;
          font-family: var(--quickstand-font);
          font-weight: var(--font-medium);
        }
      }

      .desc {
        margin-top: 10px;
        p {
          // font-family: var(--quickstand-font);
          font-size: 16px;
        }
      }
    }

    .slider_container {
      width: 80%;
      position: relative;

      @media screen and (max-width: 992px) {
        width: 100%;
      }

      .shadow_box {
        position: absolute;
        top: 0px;
        right: 9px;
        width: 36px;
        height: 100%;
        opacity: 1;
        z-index: 1;
        border-radius: 0px 5px 5px 0px;
        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      .box {
        width: 392px;
        height: 305px;
        margin-right: 18px;
        cursor: pointer;
        .img_container {
          width: 100%;
          height: 100%;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
        }
      }
    }
    position: relative;

    .fullscreen_container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20000;
      display: flex;

      svg {
        position: absolute;
        top: 10px;
        right: 30px;
        width: 35px;
        height: 35px;
        color: var(--main-green-color);
        cursor: pointer;
      }

      img {
        width: 800px;
        height: 426px;
        object-fit: contain;
      }
    }
  }
}

section.testimonials {
  background-color: var(--sec-green-color);
  margin-bottom: 40px;
  padding-top: 50px;
  padding-bottom: 50px;

  .section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 260px;

    @media screen and (max-width: 992px) {
      margin-left: 0;
    }

    .icon_container {
      margin-right: 15.4px;
      margin-top: 7px;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    .title {
      h3 {
        color: var(--main-dark-color);
        font-size: 28px;
        font-weight: var(--font-medium);
        font-family: "Quicksand";
      }
    }
  }

  .content {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .video_container {
      width: 699px;
      height: 344px;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}

// AR
#hospital_header[dir="rtl"] * {
  font-family: var(--arabic-font) !important;
}

#hospital_header {
  .header {
    .icon_container {
      margin-right: 0px;
      margin-left: 10px;
    }
    .text {
      p {
      }
    }
  }

  .title {
    h3 {
      font-family: var(--arabic-font);
    }
  }

  .text_container {
    .name {
      p {
      }
    }

    .rating {
      span.reviews_num {
        margin-left: 0px;
        margin-right: 13.5px;
      }
    }

    .location {
      svg {
        margin-right: 0px;
        margin-left: 7.5px;
      }

      p {
        font-family: var(--arabic-font);
      }
    }

    .boxes_container {
      .box {
        &:not(:last-child) {
          margin-right: 0px;
          margin-left: 13px;
        }
      }

      .num {
        p {
          font-family: var(--arabic-font);
        }
      }

      .yearly {
        p {
          font-family: var(--arabic-font);
        }
      }
    }

    .button_container {
      button {
        font-family: var(--arabic-font);
      }
    }
  }
}

section.overview[dir="rtl"] * {
  font-family: var(--arabic-font) !important;
}

section.overview[dir="rtl"] {
  .text_inner {
    p {
      font-family: var(--arabic-font) !important;
    }
  }

  .info {
    .boxes_container {
      .certificates_boxes,
      .desc_boxes {
        .title {
          h3 {
            font-family: var(--arabic-font) !important;
          }
        }
      }

      .certificates_boxes {
        width: 100%;
        @media screen and (min-width: 992px) {
          margin-left: 0px;
          margin-right: 54px;
        }
        .title {
          h3 {
            @media screen and (min-width: 992px) {
              padding-left: 0px;
              padding-right: 44px;
            }
          }
        }

        .slider_container {
          width: 465px;
          @media screen and (max-width: 992px) {
            width: 100%;
          }

          .title {
            h6 {
              font-family: var(--arabic-font) !important;
            }
          }
          .box {
            margin-right: 0px;
            margin-left: 5px;

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .boxes_container {
              flex-direction: row-reverse;

              .box_header {
                margin-right: 0px;
                margin-left: 13px;
                .img_container {
                }
              }
              .desc {
                p {
                  font-family: var(--arabic-font) !important;
                }
                button {
                  font-family: var(--arabic-font) !important;
                }
              }
            }
          }
        }
      }

      .desc_boxes {
        @media screen and (max-width: 992px) {
          display: flex;
          flex-wrap: wrap;
          // flex-direction: column-reverse;
          flex-direction: row;
        }
        .box {
          margin-right: 0px;
          margin-left: 20px;
          ul {
            li {
              font-family: var(--arabic-font) !important;
            }
          }
        }
      }
    }

    .links {
    }
  }
}
section.reviews[dir="rtl"] * {
  font-family: var(--arabic-font) !important;
}

section.reviews[dir="rtl"] {
  background-color: #f4f9f8;
  padding-top: 60px;
  padding-bottom: 56px;

  @media screen and (max-width: 992px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .title_mob {
    margin-bottom: 10px;
    @media screen and (min-width: 992px) {
      display: none;
    }
    h4 {
      color: var(--main-dark-color);
      font-size: 18px;
      font-family: var(--quickstand-font);
      font-weight: var(--font-bold);
    }
  }

  .boxes_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .text_container {
      width: 25%;

      @media screen and (max-width: 992px) {
        display: none;
      }

      .title {
        h4 {
          color: var(--main-dark-color);
          font-size: 28px;
          font-family: var(--quickstand-font);
          font-weight: var(--font-medium);
        }
      }

      .desc {
        margin-top: 10px;
        p {
          font-family: var(--quickstand-font);
          font-size: 16px;
        }
      }
    }

    .slider_container {
      width: 80%;

      @media screen and (max-width: 992px) {
        width: 100%;
      }
      .shadow_box {
        left: 0;

        top: 0px;
        right: 95%;
        height: 101%;
        transform: rotate(180deg);
      }
      .box {
        width: 392px;
        height: 305px;
        margin-right: 18px;
        cursor: pointer;
        .img_container {
          width: 100%;
          height: 100%;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
        }
      }
    }
    position: relative;

    .fullscreen_container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20000;
      display: flex;

      svg {
        position: absolute;
        top: 10px;
        right: 30px;
        width: 35px;
        height: 35px;
        color: var(--main-green-color);
        cursor: pointer;
      }

      img {
        width: 800px;
        height: 426px;
        object-fit: contain;
      }
    }
  }
}
section.testimonials[dir="rtl"] * {
  font-family: var(--arabic-font) !important;
}

section.testimonials[dir="rtl"] {
  background-color: var(--sec-green-color);
  margin-bottom: 40px;
  padding-top: 50px;
  padding-bottom: 50px;

  .section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header {
    margin-right: 260px;
    margin-left: auto;

    @media screen and (max-width: 992px) {
      margin-right: 0;
    }

    .icon_container {
      margin-right: 0px;
      margin-left: 15.4px;
      svg {
      }
    }

    .title {
      h3 {
        font-family: var(--arabic-font);
      }
    }
  }

  .content {
    .video_container {
      img {
      }
    }
  }
}
