// Import Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
/* Start Global Variables */

#apply {
  width: 100%;
}
:root {
  --main-green-color: #004747;
  --sec-green-color: #c5dfdc;
  --light-green-color: #e7edec;
  --main-dark-color: #000000;
  --main-white-color: #ffffff;
  --sec-white-color: #fafafa;
  --main-gray-color: #8d8d8d;
  --main-cyan-color: #00ccb5;
  --sec-cyan-color: #00f3bb;

  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;
  --font-sem-bold: 600;

  --open-sans-font: "Open Sans";
  --arabic-font: "Tajawal";
  --quickstand-font: "Quicksand";
}

html,
body,
#__next {
  font-family: "Quicksand";
  scroll-behavior: smooth !important;
  max-width: 100vw;
  overflow-x: hidden;

  min-height: 100%;

  background-color: var(--main-white-color);
}
main[dir="rtl"] {
  font-family: "Tajawal" !important;
}
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

li {
  /* your styles here */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
    }
  }
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

// Spinner
.spinner-wrapper {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 999;

  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 100px;
    margin: 0px auto;
    -webkit-animation: rotation 0.5 infinite linear;
    -moz-animation: rotation 0.5 infinite linear;
    -o-animation: rotation 0.5 infinite linear;
    animation: rotation 0.5 infinite linear;
    border: 6px solid rgba(0, 174, 239, 0.15);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

// MUI overrides classes
.MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: #004747 !important;
}

.MuiSelect-icon {
  color: #000000 !important;
  width: 14.84px;
  height: 8.48px;
  transition: all 0.3s ease;
}

.MuiFormControlLabel-root {
  @media screen and (max-width: 450px) {
    margin-left: 0 !important;
  }
}
// Carsouel overrides Classes
article {
  .rec .rec-item-wrapper {
    overflow: unset;
  }
  .rec .rec-swipable {
    height: 350px;
  }

  .rec .rec-item-wrapper {
    // width: 230px !important;
    // margin-right: 14px;
  }
}

/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
  border-radius: 50%;
  background-color: var(--main-white-color);
  color: var(--main-dark-color);
  box-shadow: none;
  box-shadow: 0px 3px 6px #00000029;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  box-shadow: none;
  box-shadow: 0px 3px 6px #00000029;

  color: var(--main-dark-color) !important;
  background-color: var(--main-white-color) !important;
}

// Hero section (Home Page)
section#Hero_hero__M5nJ2 {
  .rec {
    button {
      // opacity: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:disabled {
        visibility: hidden;
      }
    }

    .rec .rec-slider-container {
      margin-right: 0;
    }
    .left_arrow,
    .right_arrow {
      background-color: var(--main-white-color);
      box-shadow: 0px 3px 6px #00000029;

      width: 46px;
      height: 46px;
      border-radius: 50%;

      position: absolute;
      z-index: 11;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: var(--main-dark-color);
        font-size: 25px;
      }
    }

    .left_arrow {
      left: 6px;
      top: 42%;
    }
    .right_arrow {
      right: -6px;
      top: 42%;
    }

    .rec-pagination {
      margin-top: 10px;
      margin-bottom: 0px;
      .rec-dot {
        background-color: rgba(30, 30, 30, 0.42);
        width: 8px;
        height: 8px;
        margin-right: 8px;
        box-shadow: none !important;
        margin-top: 0;
        margin-bottom: 0;
      }

      .rec-dot_active {
        opacity: 1;
        background-color: var(--main-green-color) !important;
        box-shadow: none;
        margin-top: 0;
        margin-bottom: 0;

        &:hover {
          box-sizing: none !important;
        }
      }
    }
  }

  .rec-arrow-left {
    position: absolute;
    left: 8px;
    z-index: 11;
  }

  .main_btn {
    padding: 0;
  }

  /* hide disabled buttons */
  .rec.rec-arrow:disabled {
    visibility: hidden;
  }

  .rec-carousel-item:focus {
    outline: none;
    box-shadow: none;
  }
}

#MostPopular_most_popular__ZmWsq {
  .MostPopular_content__6dDnv {
    .MostPopular_text_container__V0KK_ {
      #box {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f4f9f8;
        // opacity: 1;
        overflow: hidden;

        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        margin-bottom: 20px;
        padding-top: 8.22px;
        padding-bottom: 12px;
        padding-left: 9px;
        padding-right: 12px;

        transition: all 0.5s ease;

        @media screen and (max-width: 992px) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 15px;
          padding-top: 10px;
          padding-left: 5px;
          padding-right: 5px;
          width: 205px;
          height: 75px;
        }

        @media screen and (min-width: 992px) {
          width: 273px;
          height: 89px;
        }

        &:hover {
          background-color: var(--sec-green-color);

          .img_container {
            .sec_img {
              display: block;
              opacity: 1;
            }
            .main_img {
              display: none;
            }
          }
        }

        &.active {
          background-color: var(--sec-green-color);

          .img_container {
            .sec_img {
              display: block !important;
              opacity: 1;
            }

            .main_img {
              display: none !important;
            }
          }
        }

        .img_container {
          width: 77.12px;
          height: 77.12px;

          @media screen and (max-width: 992px) {
            width: 60px;
            height: 60px;
            margin-left: 5px;
          }

          @media screen and (min-width: 992px) {
            margin-right: 20px;
          }

          .main_img {
            width: 100%;
            height: 100%;
          }

          .sec_img {
            width: 100%;
            height: 100%;
          }

          .sec_img {
            opacity: 0;
          }
        }

        .box_title {
          width: 66%;
          text-align: left;
          overflow-wrap: break-word;

          @media screen and (max-width: 992px) {
            width: 63%;
            margin-left: 6px;
            margin-right: 0;

            overflow-wrap: break-word;
          }

          h6 {
            font-size: 18px;
            color: var(--main-dark-color);
            font-weight: var(--font-sem-bold);
            font-family: var(--quickstand-font);
            line-height: 1.2rem;
            letter-spacing: 0px;
            line-height: 1.5rem;

            @media screen and (max-width: 992px) {
              margin-top: 0px;
              font-size: 14px;

              line-height: 1.2rem;
            }
          }
        }

        .desc {
          font-size: 18px;
          font-weight: var(var(--font-medium));
          color: var(--main-dark-color);
          font-family: var(--quickstand-font);
        }
      }
    }
  }
}

#MostPopular_most_popular__ZmWsq,
.ClinicCards_clinic__Ls06Q,
#reviews,
section#PatientStories_patient_stories__oSemC,
#MedicalDepartments_medical_department__CT08h,
#BeforeAfter_before_after__PiVd3,
#_slug__steps__dD3sT,
#_slug__treatment_desc__VG0U3,
#hotels,
#visits {
  .rec {
    .rec-item-wrapper {
      // overflow-x: hidden !important;
      // overflow: unset !important;
    }

    .rec .rec-item-wrapper {
      // overflow: unset;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .main_btn[disabled] {
      // background: red;
      visibility: hidden;
    }

    .rec-carousel {
      // height: 600px !important;
      position: relative;
      .left_arrow,
      .right_arrow {
        background-color: var(--main-white-color);
        box-shadow: 0px 3px 6px #00000029;

        width: 46px;
        height: 46px;
        border-radius: 50%;

        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 33%;

        svg {
          color: var(--main-gray-color);
          font-size: 25px;
        }
      }

      .right_arrow {
        right: -23px;
      }
      .left_arrow {
        left: -23px;
      }
    }
  }

  .rec-pagination {
    margin-top: 32px;

    @media screen and (max-width: 992px) {
      margin-top: 15px;
    }
    .rec-dot {
      background-color: rgba(30, 30, 30, 0.42);
      width: 8px;
      height: 8px;
      margin-right: 8px;
      box-shadow: none !important;
      margin-top: 0;
      margin-bottom: 0;
    }

    .rec-dot_active {
      opacity: 1;
      background-color: var(--main-green-color) !important;
      box-shadow: none;
      margin-top: 0;
      margin-bottom: 0;

      &:hover {
        box-sizing: none !important;
      }
    }
  }

  .rec .rec-slider-container {
    margin: 0 !important;
  }
}

#overview {
  .rec {
    .rec-item-wrapper {
      // overflow-x: hidden !important;
      // overflow: unset !important;
    }

    .rec .rec-item-wrapper {
      // overflow: unset;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .main_btn[disabled] {
      // background: red;
      visibility: hidden;
    }

    .rec-carousel {
      // height: 600px !important;
      position: relative;
      .left_arrow,
      .right_arrow {
        background-color: transparent;

        width: 46px;
        height: 46px;
        border-radius: 50%;

        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 33%;

        svg {
          color: #a1a1a1;
          font-size: 26px;
        }
      }

      .right_arrow {
        right: -31px;
      }
      .left_arrow {
        left: -31px;
      }
    }
  }

  .rec .rec-slider-container {
    margin: 0 !important;
  }
}

#Search_search__ExkSK {
  .rec-slider-container {
    margin: 0;
  }
}

#MedicalDepartments_medical_department__CT08h,
#medical_department {
  .rec-carousel {
    .right_arrow {
      right: -13px !important;
    }
    .left_arrow {
      left: -36px !important;
    }

    .left_arrow,
    .right_arrow {
      top: 30% !important;
    }
  }

  .rec .rec-slider-container {
    @media screen and (min-width: 992px) {
      overflow-x: scroll;
    }
    &::-webkit-scrollbar {
      height: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #8d8d8d;
      display: block !important;
    }
  }
}

#_slug__steps__dD3sT {
  .rec-carousel {
    .right_arrow {
      right: -13px !important;
    }
    .left_arrow {
      left: -36px !important;
    }

    .left_arrow,
    .right_arrow {
      top: 60% !important;
    }
  }
  .rec-carousel-item {
    @media screen and (min-width: 992px) {
      &:not(:last-child) {
        ._slug__steps_container__6ZGdJ {
          ._slug__step__Kzywh {
            span {
              &::after {
                position: absolute;
                content: "";
                width: 377.9px;
                height: 3px;

                top: 50%;
                left: 0%;
                transform: translateY(-0%);
                z-index: -1;
                background-color: var(--main-green-color);
              }
            }
          }
        }
      }
      &:nth-last-child(2) {
        ._slug__steps_container__6ZGdJ {
          ._slug__step__Kzywh {
            span {
              &::after {
                position: absolute;
                content: "";
                width: 333.9px;
                height: 3px;

                top: 50%;
                left: 0%;
                transform: translateY(-0%);
                z-index: -1;
                background-color: var(--main-green-color);
              }
            }
          }
        }
      }
    }
  }
}

#_slug__treatment_desc__VG0U3 {
  .rec-carousel {
    .right_arrow {
      right: -13px !important;
    }
    .left_arrow {
      left: -13px !important;
    }

    .left_arrow,
    .right_arrow {
      top: 50% !important;
    }
  }

  .rec-carousel-item {
    &:not(:last-child) {
      ._slug__steps_container__6ZGdJ {
        ._slug__step__Kzywh {
          span {
            position: relative;
            &::after {
              position: absolute;
              content: "";
              width: 377px;
              height: 3px;

              top: 50%;
              left: 10%;
              transform: translateY(-0%);
              z-index: -1;
              background-color: var(--main-green-color);
            }
          }
          span[dir="rtl"] {
            &::after {
              right: 0% !important;
            }
          }
        }
      }
    }
    &:nth-last-child(2) {
      ._slug__steps_container__6ZGdJ {
        ._slug__step__Kzywh {
          span {
            position: relative;
            &::after {
              position: absolute;
              content: "";
              width: 338px;
              height: 3px;

              top: 50%;
              left: 10%;
              transform: translateY(-0%);
              z-index: -1;
              background-color: var(--main-green-color);
            }
          }

          span[dir="rtl"] {
            &::after {
              right: 0% !important;
            }
          }
        }
      }
    }
  }
}

// Scroll bar
::-webkit-scrollbar {
  width: 7px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--main-green-color);
  cursor: pointer;
}

#overview,
#_slug__treatment_desc__VG0U3,
#_slug__what_you_need__IFu4u,
#_slug__howToGetTreatment__pC_W0 {
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #e4e4e4;
    &:hover {
      background: #a1a1a1;
      cursor: pointer !important;
    }
  }
}

*::-webkit-scrollbar {
  // width: 10px;
}

// select color

::selection {
  color: var(--main-white-color);

  background: var(--main-cyan-color);
}

@media screen and (min-width: 992px) {
  .css-16qrewc-MuiContainer-root,
  .css-1tgy85v-MuiContainer-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.MuiContainer-root {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.mycontainer {
  padding-right: 0px !important;
  padding-left: 20px !important;
}

.mycontainer_ar {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.custom_container {
  @media screen and (max-width: 1600px) {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
